<p>name</p>
<input type="text" [(ngModel)]="userName" appValidateName #name="ngModel" />

<p *ngIf=name.errors?.nameForbidden> That name is forbidden </p>

<hr>

<form #form="ngForm" appValidatePhone>
    <p>Home Phone Number</p>
    <input type="text" [(ngModel)]="contactHome" appValidateName #homePhone="ngModel"  name="homePhone" />

    <p>Office Phone Number</p>
    <input type="text" [(ngModel)]="contactOffice" appValidateName #officePhone="ngModel" name="officePhone" />
</form>


<p *ngIf="form.errors?.homeOfficePhoneSame && form.touched"> Home and Office phone numbers cannot be same </p>
